[submodule "thirdparty/opencv"]
	path = thirdparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "thirdparty/eigen3"]
	path = thirdparty/eigen3
	url = https://gitlab.com/libeigen/eigen.git
